@keyframes animation-height-100 {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100px;
    opacity: 1;
  }
}

.animate-height-100 {
  height: 0;
  animation: animation-height-100 400ms ease-in-out forwards 1;
  animation-delay: 1.5s;
  opacity: 0;
}

/* =-=-==-=-=-=-=-==-=-=-=----=-===--=-==--==- */

@keyframes animation-drawingattention {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animation-drawingattention-dot {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animationelement-drawingattention {
  @apply border-leukeleu bg-leukeleu bg-opacity-20 border-4 w-[300px] h-[80px] rounded-lg flex gap-6 justify-start items-center py-5 px-6 relative opacity-0 scale-75;
  animation: animation-drawingattention 400ms ease-in-out forwards 1;
  animation-delay: 2s;
}

.animationelement-drawingattention > svg {
  @apply fill-leukeleu;
}

.animationelement-line {
  @apply w-[130px] h-3 rounded-full bg-leukeleu;
}

.animationelement-dot {
  @apply absolute top-2 right-2 w-4 h-4 rounded-full bg-leukeleu;
}

.animationelement-dot > span {
  @apply absolute -top-2 -left-2 w-8 h-8 rounded-full bg-leukeleu;
  animation: animation-drawingattention-dot 1700ms ease-out forwards infinite;
}

/* =-=-==-=-=-=-=-==-=-=-=----=-===--=-==--==- */

@keyframes animation-finalline {
  100% {
    width: 100%
  }
}

@keyframes animation-finaldot {
  95% {
    transform: scale(0.4) translateX(-10px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animation-finaldotsvg {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animationelement-final {
  @apply w-[200px] h-[60px] relative;
}

.animationelement-finalline {
  @apply w-0 h-2 rounded-full bg-leukeleu absolute top-0;
  animation: animation-finalline 3000ms ease-in-out forwards 1 3s;
}

.animationelement-finalline.vague {
  @apply bg-opacity-40 w-full;
  animation: none;
}

.animationelement-finaldot {
  @apply w-full h-6 z-20 absolute -top-2 left-0 right-0
}

.animationelement-finaldot span {
  @apply block w-12 h-12 rounded-full border-2 border-leukeleu flex justify-center items-center bg-leukeleu absolute -top-3 -right-3 scale-[40%] -translate-x-[180px];
  animation: animation-finaldot 3000ms ease-in-out forwards 1 3s;
}

.animationelement-finaldot span svg {
  @apply block fill-leukeleudarker w-6 h-6 opacity-0;
  animation: animation-finaldotsvg 600ms ease-out forwards 1 6s;
}

/* =-=-==-=-=-=-=-==-=-=-=----=-===--=-==--==- */

@keyframes animation-buttonyay {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(0.6);
  }
  10% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }
}

@keyframes animation-buttonyaysvg {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(-40deg);
  }
  10% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0);
  }
}

@keyframes animation-buttonyaycircle1 {
  0% {
    margin-left: 0;
    opacity: 0;
    transform: scale(0);
  }
  2% {
    opacity: 1;
    transform: scale(0);
  }
  30% {
    margin-left: 30px;
    opacity: 1;
    transform: scale(1);
  }
  60% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animation-buttonyaycircle2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  1% {
    opacity: 1;
    transform: scale(0);
  }
  33% {
    opacity: 1;
    transform: scale(1.4);
  }
  45% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animation-buttonyaycircle3 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  4% {
    opacity: 1;
    transform: scale(0);
  }
  21% {
    opacity: 1;
    transform: scale(2);
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animation-buttonyaycircle4 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  3% {
    opacity: 1;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    transform: scale(1.3);
  }
  40% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animation-buttonyayspans {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.animationelement-buttonyay {
  @apply w-24 h-24 flex justify-center items-center relative;
  animation: animation-buttonyay 3000ms ease-out forwards infinite 4s;
}

.animationelement-buttonyay-circle {
  @apply rounded-full w-16 h-16 border-4 border-leukeleu bg-leukeleu bg-opacity-10 flex justify-center items-center;
}

.animationelement-buttonyay-circle svg {
  @apply block fill-leukeleu w-8 h-8;
  animation: animation-buttonyaysvg 3000ms ease-out forwards infinite 4s;
}

.animationelement-buttonyay-ani {
  @apply w-24 h-24 flex justify-center items-center absolute top-0 left-0 right-0 bottom-0;
  animation: animation-buttonyayspans 3000ms ease-out forwards infinite 4s;
}

.animationelement-buttonyay-ani span {
  @apply absolute w-2 h-2 rounded-full bg-leukeleu opacity-0
}

.animationelement-buttonyay-ani span:nth-child(1) { @apply right-0 }
.animationelement-buttonyay-ani span:nth-child(2) { @apply right-1 top-[20px] }
.animationelement-buttonyay-ani span:nth-child(3) { @apply left-0 }
.animationelement-buttonyay-ani span:nth-child(4) { @apply left-3 bottom-[10px] }

.animationelement-buttonyay-ani span:nth-child(1) { 
  animation: animation-buttonyaycircle1 3000ms ease-out forwards infinite 4s;
}

.animationelement-buttonyay-ani span:nth-child(2) { 
  animation: animation-buttonyaycircle2 3000ms ease-out forwards infinite 4s;
}

.animationelement-buttonyay-ani span:nth-child(3) { 
  animation: animation-buttonyaycircle3 3000ms ease-out forwards infinite 4s;
}

.animationelement-buttonyay-ani span:nth-child(4) { 
  animation: animation-buttonyaycircle4 3000ms ease-out forwards infinite 4s;
}

/* =-=-==-=-=-=-=-==-=-=-=----=-===--=-==--==- */

@keyframes animation-status {
  0% {
    background: rgba(170, 170, 170, 0.4);
  }
  20% {
    background: rgba(170, 170, 170, 0.4);
    border-color: #AAAAAA;
  }
  30% {
    background: #7FFFD4;
    border-color: #7FFFD4;
  }
  80% {
    background: #7FFFD4;
    border-color: #7FFFD4;
  }
  90% {
    background: rgba(170, 170, 170, 0.4);
    border-color: #AAAAAA;
  }
  100% {
    background: rgba(170, 170, 170, 0.4);
  }
}

@keyframes animation-status-text {
  0% {
    background: #AAAAAA;
  }
  20% {
    background: #AAAAAA;
    width: 80px;
  }
  30% {
    background: #3a413f;
    width: 90px;
  }
  80% {
    background: #3a413f;
    width: 90px;
  }
  90% {
    background: #AAAAAA;
    width: 80px;
  }
  100% {
    background: #AAAAAA;
  }
}

@keyframes animation-status-svg {
  0% {
    width: 0;
  }
  20% {
    width: 0;
    opacity: 0;
  }
  30% {
    width: 1rem;
    opacity: 1;
  }
  80% {
    width: 1rem;
    opacity: 1;
  }
  90% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes animation-status-svg-element {
  0% {
    transform: scale(0.5) translateY(10px);
  }
  20% {
    transform: scale(0.5) translateY(10px);
  }
  30% {
    transform: scale(1) translateY(0);
  }
  80% {
    transform: scale(1) translateY(0);
  }
  90% {
    transform: scale(0.5) translateY(10px);
  }
  100% {
    transform: scale(0.5) translateY(10px);
  }
}

.animationelement-status {
  @apply w-44 h-10 rounded-xl bg-leukeleugray border-leukeleugray border-4 bg-opacity-40 relative overflow-hidden flex gap-2 justify-start items-center px-3;
  animation: animation-status 5000ms ease-out forwards infinite 4s;
}

.animationelement-status-text {
  @apply block w-20 h-3 rounded-full bg-leukeleugray;
  animation: animation-status-text 5000ms ease-out forwards infinite 4s;
}

.animationelement-status-check {
  @apply w-0 opacity-0;
  animation: animation-status-svg 5000ms ease-out forwards infinite 4s;
}

.animationelement-status-check svg {
  @apply w-4 h-4 fill-leukeleusuccesstext;
  animation: animation-status-svg-element 5000ms ease-out forwards infinite 4s;
}

/* =-=-==-=-=-=-=-==-=-=-=----=-===--=-==--==- */

@keyframes animation-zoom {
  25% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(0.8);
    opacity: 0;
  }
  75% {
    transform: scale(0.8);
    opacity: 0;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animation-zoom-grid {
  25% {
    transform: scale(1.25);
    opacity: 0;
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(1.25);
    opacity: 0;
  }
}

.animationelement-zoom {
  @apply w-[180px] h-[120px] relative;
}

.animationelement-zoom-start {
  @apply w-[180px] h-[120px] bg-leukeleu border-leukeleu border-4 rounded-lg bg-opacity-20 absolute top-[10px] flex justify-center items-center;
  animation: animation-zoom 8000ms ease-in forwards infinite 4s;
}

.animationelement-zoom-start svg {
  @apply fill-leukeleu w-12 h-12;
}

.animationelement-zoom-start span {
  @apply text-leukeleu text-lg block absolute bottom-2 right-3 font-bold
}

.animationelement-zoom-grid {
  @apply grid grid-cols-2 gap-2 absolute w-[200px] -left-[10px] opacity-0 scale-125;
  animation: animation-zoom-grid 8000ms ease-in forwards infinite 4s;
}

.animationelement-zoom-grid span {
  @apply block h-16 bg-leukeleu border-leukeleu border-4 rounded-lg;
}
